<div id="consultas">
    <table id="myTable">
        <thead id="thead">
            
        </thead>

        <tbody id="myData">
            
        </tbody>
        </table>

</div>

<style>
    h1{
        color: blue;
    }
    thead th{
        padding: 1%;
        width: 13vh;
        color: white;
        border: solid 2px rgba(255, 238, 0, 0.377);
        background-color: rgba(255, 255, 0, 0.219);
    }
    #myData td{
        padding: 1%;
        text-align: center;
        width: auto;
        color: white;
        border: solid 2px rgba(255, 30, 0, 0.377);
        background-color: rgba(255, 0, 0, 0.219);
    }

</style>