<div class="cont">
    <form class="container" id="myForm">
        <legend>Ingreso de usuarios</legend>
        <input type="text" name="id" placeholder="Ingrese el id">
        <input type="text" name="nombre" placeholder="Ingrese el nombre">
        <input type="text" name="edad" placeholder="Ingrese edad">
        <input type="text" name="teléfono" placeholder="Ingrese el teléfono">
        <input type="text" name="email" placeholder="Ingrese el email">
        <input type="text" name="dirección" placeholder="Ingrese la dirección">
        <legend>ingrese la fecha de nacimiento</legend>
        <input type="date" name="fechaDeNacimiento" placeholder="Ingrese la fecha De Nacimiento">
        <input type="text" name="documento" placeholder="Ingrese la cedula">
        <legend>ingrese la fecha de ingreso</legend>
        <input type="date" name="fechaIngreso" placeholder="Ingrese la fecha de ingreso al programa">
        <input type="text" name="teamId" placeholder="Ingrese el id del team">
        <div class="butons">
            <input type="submit" data-valor="post" value="Enviar">
            <input type="submit" data-valor="get3" value="Traer Todos">
            <input type="submit" data-valor="get" value="Reclutas que llevan 2 meses">
            <input type="submit" data-valor="get2" value="Reclutas menores de edad">
            <input type="submit" data-valor="put" value="actualizar">
            <input type="submit" data-valor="delete" value="eliminar">

        </div>
    </form><br>
</div>


    
    
<table id="myTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>teléfono</th>
            <th>email</th>
            <th>dirección</th>
            <th>fecha de nacimiento</th>
            <th>numero de identificación</th>
            <th>fecha de ingreso al programa</th>
            <th>id_team</th>
            
        </tr>
    </thead>
    <tbody id="myData"></tbody>
</table>

<style>
    legend{
        color: wheat;
        display: flex;
        justify-content: start !important;
    }
    thead th{
        padding: 1%;
        width: 13vh;
        color: white;
        border: solid 2px rgba(255, 238, 0, 0.377);
        background-color: rgba(255, 255, 0, 0.219);
    }
    tbody th{
        padding: 1%;
        width: auto;
        color: white;
        border: solid 2px rgba(255, 30, 0, 0.377);
        background-color: rgba(255, 0, 0, 0.219);
    }
    .cont{
        display: flex;
        justify-content: center;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input{
        width: 100%;
        padding: 2%;
        margin: 1%;
    }
    .butons{
        display: flex;
        justify-content: center;
    }
    #myTable{
        margin: 2% 0%;
    }

</style>