<form class="container" id="myFormData">
    <legend>Ingreso de SKILLS</legend>
    <input type="text" name="id" placeholder="Ingrese el id de la skill">
    <input type="text" name="nombre" placeholder="Ingrese la skill">
    <div  class="butons">
        <input type="submit" data-valor="post" value="Enviar">
        <input type="submit" data-valor="get" value="obtener Data skills">
        <input type="submit" data-valor="put" value="actualizar">
        <input type="submit" data-valor="delete" value="eliminar">

    </div>
</form><br>


    
    
<table id="myTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody id="myData"></tbody>
</table>

<style>
    legend{
        color: wheat;
        display: flex;
        justify-content: start;
    }
    thead th{
        padding: 1%;
        width: 13vh;
        color: white;
        border: solid 2px rgba(255, 238, 0, 0.377);
        background-color: rgba(255, 255, 0, 0.219);
    }
    tbody th{
        padding: 1%;
        width: auto;
        color: white;
        border: solid 2px rgba(255, 30, 0, 0.377);
        background-color: rgba(255, 0, 0, 0.219);
    }
    .cont{
        display: flex;
        justify-content: center;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input{
        width: 100%;
        padding: 2%;
        margin: 1%;
    }
    .butons{
        display: flex;
        justify-content: center;
    }
    #myTable{
        margin: 2% 0%;
    }

</style>